//text Colors
$headingColor: #fff;
$textColor: #0c0c0c;
$textColorLight: #fff;
$linkColor: #ff9900;
$h1Color: #000;
$menuHoverColor: #00e0d0;

// background
$bodyBg: #fff;
$menuHover: #0a0a0a;


//buttons

$btnReg: linear-gradient(to top, #538525, #88d341);
$btnRegHover: linear-gradient(to top, #89d442, #4c801b);
$btnRegBorder: 1px solid #518124;

$burger: #00e0d0;
// fonts
$mainFont: Bebasneue, sans-serif;
